<p>
  <label for="user_user_name">User Name:</label>
  <%= form.text_field :user_name, :size => 40 %>
</p>
<p>
  <label for="user_display_name">Display Name:</label>
  <%= form.text_field :display_name, :size => 40 %>
</p>
<p>
  <label for="user_password">Password:</label>
  <%= form.password_field :password, :size => 40  %>
</p>
<p>
  <label for="user_password_confirmation">Confirm Password:</label>
  <%= form.password_field :password_confirmation, :size=> 40 %>
</p>